nav {
  display: block;
  min-height: 60px;
}

.icon {
  display: inline-block;
  padding: 15px;
  img {
    width: 100px;
  }
  .iconText {
    margin-top: 0;
  }
}

.b-a {
  transition: all .25s;
  content: "";
  position: absolute;
  left: 0;
  height: 6px;
  width: 30px;
  border-radius: 15px;
  background-color: $white;
}
.menu-collapsed {
  transition: all .25s;
  position: fixed;
  top: 10px;
  left: 9px;
  height: 36px;
  width: 36px;
  z-index: 1;
  cursor: pointer;
  ul {
    transition: all 0s;
    position: fixed;
    left: -9000px;
  }
}
.bar {
  @extend .b-a;
  position: fixed;
  left: 20px;
  top: 35px;
  background-color: $black;
  &:before {
    @extend .b-a;
    top: -8px;
    background-color: $black;
  }
  &:after {
    @extend .b-a;
    top: 8px;
    background-color: $black;
  }
}
.b-a-expanded {
  transition: all .25s;
  top: -0px;
}
.menu-expanded {
  transition: all .25s;
  text-align: center;
  line-height: 200px;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  top: 0;
  left: 0;
  background-color: $black;

  ul {
    transition: all 0s;
    position: relative;
    left: 0;
    z-index: 2;
    list-style-type: none;
    text-align: left;
    padding-left: 4rem;
  }
  li {
    max-height: 4rem;
    padding: 0.5rem;
  }
  a {
    transition: all .15s;
    text-decoration: none;
    font-size: 2em;
    color: $white;
    max-height: 2rem;
    &:hover {
      transition: all .15s;
      padding: .5rem;
      letter-spacing: 2px;
      color: $white;
    }
  }
  .bar {
    background-color: transparent;
    transition: all .25s;
    &:before {
      @extend .b-a-expanded;
      transform: rotate(45deg);
      background-color: $white;

    }
    &:after {
      @extend .b-a-expanded;
      transform: rotate(-45deg);
      background-color: $white;

    }
  }
}
ul {
  .menu-link {
    list-style-type: none;
    margin: 0;
    padding: .5em 2em;
    max-height: 3em;
    text-align: left;
    a {
    }
  }
}
