<button type="button"><a ui-sref="roomsIndex">back to game list</a></button>

<h3 ng-if="roomsShow.status.connected">{{ main.user.username }} is connected</h3>
<h3 ng-if="roomsShow.status.disconnected">{{ main.user.username }} is disconnected</h3>
<h3 ng-if="roomsShow.status.connecting">{{ main.user.username }} is disconnected but connecting</h3>


<div class="clearfix">
  <p class="black_card">{{ roomsShow.room.black_card }} <br>
    <span ng-if="roomsShow.room.pick > 1" class="pick">Pick {{ roomsShow.room.pick }}</span>
  </p>
</div>

<hr>
<h4 ng-if="roomsShow.room.cards.length > 1 && !roomsShow.played">{{ roomsShow.room.cards.length }} players played this game</h4>
<h4 ng-if="roomsShow.room.cards.length == 1 && !roomsShow.played">{{ roomsShow.room.cards.length }} player played this game. Join him!</h4>
<h4 ng-if="roomsShow.room.cards.length == 0">Be first to play this game!</h4>
<h4 ng-if="roomsShow.played">You already played this game! Now vote for the funniest card.
  <br>Don't be a dick, vote for someone else.</h4>
<div class="clearfix">
  <div class="white_card"
  ng-repeat="card in roomsShow.room.cards track by $index"
  ng-click="roomsShow.voteForFunniest(card)"
  ng-if="roomsShow.played">
  {{ card.content }}
</div>
</div>

<h2 ng-hide="roomsShow.played">Your<br>White<br>Cards:</h2>
<div class="white_card"
ng-hide="roomsShow.played"
ng-click="roomsShow.chooseCard(whiteCard, main.user.id)"
ng-repeat="whiteCard in roomsShow.whiteCards track by $index">
{{ whiteCard }}
</div>
